.contact-container {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  .contact-info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .info-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 2rem;
    border: 1px solid #b8cdfb;
    border-radius: 12px;
    box-shadow: 0px 0px 20px #b8cdfb82;
    align-items: center;
    background-color: white; /* Ensure it's white */
  }
  
  .info-item h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 0.5rem;
  }
  
  .info-item p {
    font-size: 1.1rem;
    color: #555;
  }
  
  @media (max-width: 600px) {
    .contact-container {
      padding: 1rem;
    }
    .info-item {
      padding: 1rem;
    }
  }